{
    "tabWidth": 4,
    "printWidth": 120,
    "semi": false,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "overrides": [
        {
            "files": "package*.json",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
