[Unit]
Description=python and ffmpeg based playout
After=network.target

[Service]
ExecStart=/usr/local/bin/ffplayout.py
Restart=always
RestartSec=1
User=user
Group=user

[Install]
WantedBy=multi-user.target
