asgiref==3.2.10
astroid==2.4.2
autopep8==1.5.3
Django==3.1
django-cors-headers==3.4.0
django-filter==2.3.0
djangorestframework==3.11.1
djangorestframework-simplejwt==4.4.0
flake8==3.8.3
gevent==20.6.2
greenlet==0.4.16
gunicorn==20.0.4
isort==4.3.21
jedi==0.17.2
lazy-object-proxy==1.4.3
mccabe==0.6.1
natsort==7.0.1
parso==0.7.1
pluggy==0.13.1
psutil==5.7.2
pycodestyle==2.6.0
pydocstyle==5.0.2
pyflakes==2.2.0
PyJWT==1.7.1
pylint==2.5.3
pymediainfo==4.2.1
python-jsonrpc-server==0.3.4
python-language-server==0.34.1
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.1
rope==0.17.0
six==1.15.0
snowballstemmer==2.0.0
sqlparse==0.3.1
toml==0.10.1
ujson==1.35
wrapt==1.12.1
yapf==0.30.0
zmq==0.0.0
zope.event==4.4
zope.interface==5.1.0
