attrs==21.2.0
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
idna==2.10
iniconfig==1.1.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.4
python-dateutil==2.8.1
PyYAML==5.4.1
requests==2.25.1
six==1.16.0
supervisor==4.2.2
time-machine==2.1.0
toml==0.10.2
urllib3==1.26.5
watchdog==2.1.2
