$gray-800: #3a3f44 !default;
$gray-900: #262a2c !default;

$primary: $gray-800 !default;
$secondary: $gray-900 !default;

$accent: #ff9c36;
$bg-primary: #212529;
$bg-secondary: #1d2024;
$link-color: #c4c4c4;
$link-color-hover: #e7e7e7;
$item-hover: rgba(31, 31, 31, 0.8);
$border-color: black;
$overlay-bg: rgba(61, 61, 61, 0.534);

$success: #438d3c;
$danger: #972929;
$warning: #a78c14;
$alert-color: #ffffff;

$control-button-play: #43c32e;
$control-button-play-hover: #339924;
$control-button-stop: #d01111;
$control-button-stop-hover: #a70e0e;
$control-button-restart: #d1c410;
$control-button-restart-hover: #b4a90e;
$control-button-control: #06aad3;
$control-button-control-hover: #068bac;

$log-time: #666864;
$log-number: #e2c317;
$log-addr: #ad7fa8;
$log-cmd: #6c95c2;
$log-content: #ececec;
$log-info: #8ae234;
$log-warning: #ff8700;
$log-error: #d32828;
$log-debug: #6e99c7;
$log-decoder: #56efff;
$log-encoder: #45ccee;
$log-server: #23cbdd;

$theme-colors: (
    'primary': $primary,
);

$b-radius: 3px;
