@import '_variables.scss';
@import 'bootstrap/scss/bootstrap';

#__nuxt,
#__nuxt > div,
main,
main > div {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: 'DigitalNumbers-Regular';
    src: url('@/assets/fonts/DigitalNumbers-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
        sans-serif;
    background-color: $bg-primary;
    background: $bg-primary;
    font-size: 15px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

a {
    color: $link-color;
    text-decoration: none;
}

a:hover {
    color: $link-color-hover;
}

.navbar {
    --bs-navbar-padding-y: 0 !important;
}

.list-group-item {
    border-color: $border-color;
}

.list-group {
    --bs-list-group-border-radius: $b-radius;
}

.alert-success {
    background-color: $success;
    color: $alert-color;
}

.alert-danger {
    background-color: $danger;
    color: $alert-color;
}

.alert-warning {
    background-color: $warning;
    color: $alert-color;
}

.media-alert {
    position: absolute;
    top: 80px;
    right: 12px;
    max-width: 400px;
    max-height: 60px;
    z-index: 11;
}

.bg-warning {
    background-color: $warning;
}

.breadcrumb {
    background-color: $gray-900;
    --bs-breadcrumb-margin-bottom: 0;
    height: 39px;
    padding: .5em;
    border: 1px solid $border-color;
    border-bottom: 0;
    border-radius: $b-radius;
}

.date-div {
    width: 250px;
    height: 37px;
    float: right;
    margin-right: 12px;
}

.browser-item {
    background: none;
    border: none;
    margin: 0;
    padding: 0 0 0 .5em;
    min-height: 26px;
    min-height: 26px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.browser-div {
    background-color: $gray-900;
    border: 1px solid $border-color;
    border-radius: 3px;
}

.media-browser-scroll {
    height: calc(100% - 3px);
    overflow: auto;
    scrollbar-width: medium;
}

.browser-container .player-browser-scroll {
    position: relative;
    height: calc(100% - 50px);
    min-height: 400px;
}

.browser-icons {
    margin-right: 0.5em;
}

.browser-icons-col {
    max-width: 10px;
}

.browser-play-col {
    max-width: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.browser-dur-col {
    min-width: 95px;
    margin: 0;
    padding: 0 10px 0 0;
}

.browser-item-text {
    display: inline-block;
    max-width: 95%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.media-button {
    float: right;
    margin: 1em 0.8em 0 0;
}

.splitpanes__pane {
    background-color: rgba(34, 34, 34, 0.233);
    position: relative;
}

.splitpanes--vertical > .splitpanes__splitter {
    position: relative;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    width: 6px !important;
}

.splitpanes--vertical > .splitpanes__splitter::before {
    content: '';
    position: absolute;
    background-color: $border-color;
    transform: translateY(-50%);
    top: 50%;
    left: 50%;
    width: 2px;
    height: 30px;
    transition: background-color 0.3s;
    margin-left: -1px;
}

.list-row .grabbing {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.loading-overlay {
    background-color: $overlay-bg;
    z-index: 11;
    position: absolute;
    width: calc(100% - 25px);
    height: calc(100% - 36px);

    .spinner-border {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 3rem;
        height: 3rem;
    }
}
