@import 'bootstrap-icons/font/bootstrap-icons.css';

#__nuxt,
#__nuxt > div,
main,
main > div {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: 'DigitalNumbers';
    src: url('@/assets/fonts/DigitalNumbers-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.splitpanes--horizontal > .splitpanes__splitter {
    position: relative;
    border-top: 1px solid var(--my-gray);
    border-bottom: 1px solid var(--my-gray);
    height: 6px !important;
}

.splitpanes--vertical > .splitpanes__splitter {
    position: relative;
    border-left: 1px solid var(--my-gray);
    border-right: 1px solid var(--my-gray);
    width: 6px !important;
}

.splitpanes--horizontal > .splitpanes__splitter::before {
    content: '';
    position: absolute;
    background-color: var(--my-gray);
    transform: translateY(-50%);
    top: 50%;
    left: 50%;
    height: 2px;
    width: 30px;
    transition: background-color 0.3s;
    margin-left: -1px;
}

.splitpanes--vertical > .splitpanes__splitter::before {
    content: '';
    position: absolute;
    background-color: var(--my-gray);
    transform: translateY(-50%);
    top: 50%;
    left: 50%;
    width: 2px;
    height: 30px;
    transition: background-color 0.3s;
    margin-left: -1px;
}
