[Unit]
Description=Rest API for ffplayout
After=network.target remote-fs.target

[Service]
ExecStart=/usr/bin/ffpapi -l 127.0.0.1:8000
Restart=always
RestartSec=1
User=ffpu

[Install]
WantedBy=multi-user.target
