[Unit]
Description=Rest API for ffplayout
After=network.target remote-fs.target

[Service]
ExecStart=/usr/bin/ffpapi -l 127.0.0.1:8000
ExecReload=/bin/kill -1 $MAINPID
Restart=always
RestartSec=1
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
