[Unit]
Description=Rust and ffmpeg based multi channel playout solution
After=network.target remote-fs.target

[Service]
ExecStart=/usr/bin/ffplayout %I
Restart=always
RestartSec=1
KillMode=mixed
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
