[Unit]
Description=Rust and ffmpeg based playout solution
After=network.target remote-fs.target

[Service]
ExecStart=/usr/bin/ffplayout -l 0.0.0.0:8787
Restart=always
StartLimitInterval=20
RestartSec=1
KillMode=mixed
User=ffpu

[Install]
WantedBy=multi-user.target
