[Unit]
Description=Rust and ffmpeg based multi channel playout solution
After=network.target remote-fs.target

[Service]
ExecStart=/usr/bin/ffplayout %I
Restart=always
StartLimitIntervalSec=20
RestartSec=1
KillMode=mixed
User=ffpu

[Install]
WantedBy=multi-user.target
