[Unit]
Description=Supervisor process control system for UNIX
Documentation=http://supervisord.org
After=network.target

[Service]
ExecStart=/opt/ffplayout-engine/venv/bin/supervisord -n -c /etc/ffplayout/supervisor/supervisord.conf
ExecStop=/opt/ffplayout-engine/venv/bin/supervisorctl $OPTIONS shutdown
ExecReload=/opt/ffplayout-engine/venv/bin/supervisorctl $OPTIONS reload
KillMode=process
Restart=on-failure
RestartSec=5s
User=root
Group=root

[Install]
WantedBy=multi-user.target
